@page "/"



<div class="container-fluid">
    <h1 class="display-1 text-center">
    VooDoo!
    </h1>


    <br/>

    <h3 class="display-3 text-center">
        Go wild!
    </h3>
        <div class="card bg-success text-center text-light">
            <h1 class="display-5">
            Here you go sweetheart. They are synced across both computers. 
            </h1>
        </div>
</div>
