@page "/"

<h1 class="display-1 text-center">VooDoo!</h1>

<p>
    This is more complicated than you'd think.
</p>

<br/>

<h3 class="display-3">
    Justin is a good teacher
</h3>

<div class="container-fluid">
    <div class="card bg-dark text-center text-light">
        <h1 class="display-5">Cody likes doughnuts.</h1>
    </div>
</div>
